.navbar {
  /* position: fixed;
  z-index: 5;
  margin-bottom: 50px; */


  width: 100%;
  height: 100px;
  /* background-color: #f9d409 !important; */
background-image: radial-gradient(circle 957px at 8.7% 50.5%, rgba(246, 191, 13, 1) 0%, rgba(249, 47, 47, 1) 90%);
text-align: center;
}

.nav-item {
  border-radius: 30px;
}

.nav-link {
  font-size: 1.2rem;
  font-weight: 500;
  color: #ffffff;
  border-radius: 30px;
}

 .nav-link:hover {
   color: rgb(217, 255, 0);
/* background-image: linear-gradient(92.7deg, rgba(245, 212, 212, 1) 8.5%, rgba(252, 251, 224, 1) 90.2%) !important; */
opacity: 20;
}
