.navbar{
width: 100%;
height: 100px;
background-color: #f9d409 !important;
text-align: center;
}


.nav-item{
  border-radius: 30px;
}

.nav-link{
  font-size: 1rem;
  font-weight: 500;
  color: #2713db;
  border-radius: 30px;
}

.nav-link:hover {
  background-color: #ebc415 !important;
}

